.naaima-nav{
	margin-bottom: 0px;
}
.content-wrapper {

}
.login-box{
	background-color: rgba(255, 255, 255, 0.6);
	padding: 50px 10px 70px 10px;
	margin-top: 90px;
	border-radius: 5px;
}
.bg-white-o{
	background-color: rgba(255, 255, 255, 0.4);
}
.hero-container{
	background-image: url('../img/main-hero.jpg');
	background-size: cover;
	background-position: center;

}
.container-fluid{
	position: relative;
}
.main-container {
	min-height: 565px;
	height: 100%;
	padding: 5px 10px;
}
.progress-container{
	position: absolute;
    top: 0px;
    left:0px;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 999;
}
.resourceForm .form-control{
	width: 95%;
	float: left;
}
.resourceForm .mandatory{
	font-size: 16px;
}
.progress-container h1{
	margin-top: 130px;
    background-color: white;
    padding: 20px 0px;
}
.resources-list .table-responsive{
	min-height: 475px !important;
}
.resources-list .pagination{
	float: right;
}
.resources-list .table-striped>tbody>tr:nth-of-type(odd){
	background-color: #f9f9f9;
}
.resources-list .table-striped>tbody>tr:nth-of-type(even){
	background-color: #cecece;
}
.feildset-border {
	border: 1px groove #ddd !important;
	padding: 0 1.4em 1.4em 1.4em !important;
	margin: 0 0 1.5em 0 !important;
	-webkit-box-shadow: 0px 0px 0px 0px #000;
	box-shadow: 0px 0px 0px 0px #000;
}

.legend-boder {
	font-size: 1.2em !important;
	font-weight: bold !important;
	text-align: left !important;
	width: auto;
	padding: 0 10px;
	border-bottom: none;
}
