<section class="main-container bg-white-o">
  <form class="form-horizontal" method="POST" name="resourceForm" data-ng-submit="addResource(resourceForm.$valid)" novalidate>
    <section class="resourceForm">
      <div class="col-md-6">
        <fieldset class="feildset-border">
        	<!-- Job Data Start -->
	        <legend class="legend-boder">Job Data</legend>
	        <div class="form-group" data-ng-class="{'has-error':resourceForm.Date.$invalid && !resourceForm.Date.$pristine}">
	          <label for="Date" class="col-sm-4 control-label">Date</label>
	          <div class="col-sm-8">
	            <input type="date" data-ng-model="resource.Date" class="form-control" name="Date" required>
              <sup class="text-danger mandatory">*</sup>
	          </div>
	        </div>
	        <div class="form-group" data-ng-class="{'has-error':resourceForm.Client.$invalid && !resourceForm.Client.$pristine}">
	          <label for="Client" class="col-sm-4 control-label">Client</label>
	          <div class="col-sm-8">
	            <input type="text" data-ng-model="resource.Client" class="form-control" name="Client" placeholder="Client Name" required>
	            <sup class="text-danger mandatory">*</sup>
            </div>
	        </div>
	        <div class="form-group" data-ng-class="{'has-error':resourceForm.Position_Type.$invalid && !resourceForm.Position_Type.$pristine}">
	          <label for="Position_Type" class="col-sm-4 control-label">Position Type</label>
	          <div class="col-sm-8">
	            <input type="text" data-ng-model="resource.Position_Type" class="form-control" name="Position_Type" placeholder="Position Type" required>
	            <sup class="text-danger mandatory">*</sup>
            </div>
	        </div>
	        <div class="form-group" data-ng-class="{'has-error':resourceForm.Requirement_ID.$invalid && !resourceForm.Requirement_ID.$pristine}">
	          <label for="Requirement_ID" class="col-sm-4 control-label">Recuirement ID</label>
	          <div class="col-sm-8">
	            <input type="text" data-ng-model="resource.Requirement_ID" class="form-control" name="Requirement_ID" placeholder="Recuirement ID" required>
	            <sup class="text-danger mandatory">*</sup>
            </div>
	        </div>
	        <!-- Job Data End -->
        </fieldset>
        <fieldset class="feildset-border">
	        <!-- Employee Data Start -->
	        <legend class="legend-boder">Employee Data</legend>
	        <div class="form-group" data-ng-class="{'has-error':resourceForm.Name.$invalid && !resourceForm.Name.$pristine}">
	          <label for="Name" class="col-sm-4 control-label">Name</label>
	          <div class="col-sm-8">
	            <input type="text" data-ng-model="resource.Name" class="form-control" name="Name" placeholder="Name" required>
	            <sup class="text-danger mandatory">*</sup>
            </div>
	        </div>
	        <div class="form-group" data-ng-class="{'has-error': resourceForm.Contact_No.$invalid && !resourceForm.Contact_No.$pristine}">
	          <label for="Contact_No" class="col-sm-4 control-label">Contact No</label>
	          <div class="col-sm-8">
	            <input type="text" data-ng-model="resource.Contact_No" class="form-control" name="Contact_No" placeholder="Mobile" required>
	            <sup class="text-danger mandatory">*</sup>
            </div>
	        </div>
	        <div class="form-group" data-ng-class="{'has-error':resourceForm.Email_ID.$invalid && !resourceForm.Email_ID.$pristine}" >
	          <label for="Email_ID" class="col-sm-4 control-label">Email ID</label>
	          <div class="col-sm-8">
	            <input type="email" data-ng-model="resource.Email_ID" class="form-control" name="Email_ID" placeholder="Email" required>
	            <sup class="text-danger mandatory">*</sup>
            </div>
	        </div>
	        <div class="form-group" data-ng-class="{'has-error':resourceForm.Skill.$invalid && !resourceForm.Skill.$pristine}">
	          <label for="Skill" class="col-sm-4 control-label">Skill</label>
	          <div class="col-sm-8">
	            <input type="text" data-ng-model="resource.Skill" class="form-control" name="Skill" placeholder="Skill" required>
	            <sup class="text-danger mandatory">*</sup>
            </div>
	        </div>
	        <div class="form-group" data-ng-class="{'has-error':resourceForm.Pancard_No.$invalid && !resourceForm.Pancard_No.$pristine}">
	          <label for="Pancard_No" class="col-sm-4 control-label">Pan Card No</label>
	          <div class="col-sm-8">
	            <input type="text" data-ng-model="resource.Pancard_No" class="form-control" name="Pancard_No" placeholder="Pan Card No" required>
	            <sup class="text-danger mandatory">*</sup>
            </div>
	        </div>
	        <div class="form-group"  >
	          <label for="Skype_ID" class="col-sm-4 control-label">Skype ID</label>
	          <div class="col-sm-8">
	            <input type="text" data-ng-model="resource.Skype_ID" class="form-control" name="Skype_ID" placeholder="Skype ID">
	          </div>
	        </div>
	        <!-- Employee Data End -->
        </fieldset>
      </div>
      <div class="col-md-6">
      	<fieldset class="feildset-border">
	        <!-- Professional Details Start -->
	        <legend class="legend-boder">Professional Data</legend>
	        <div class="form-group" data-ng-class="{'has-error':resourceForm.Total_Exp.$invalid && !resourceForm.Total_Exp.$pristine}">
	          <label for="Total_Exp" class="col-sm-4 control-label">Total Exp</label>
	          <div class="col-sm-8">
	            <input type="text" data-ng-model="resource.Total_Exp" class="form-control" name="Total_Exp" placeholder="Total Exp" required>
	            <sup class="text-danger mandatory">*</sup>
            </div>
	        </div>
	        <div class="form-group" data-ng-class="{'has-error':resourceForm.Relevant_Exp.$invalid && !resourceForm.Relevant_Exp.$pristine}">
	          <label for="Relevant_Exp" class="col-sm-4 control-label">Relevant Exp</label>
	          <div class="col-sm-8">
	            <input type="text" data-ng-model="resource.Relevant_Exp" class="form-control" name="Relevant_Exp" placeholder="Relevant Exp" required>
	            <sup class="text-danger mandatory">*</sup>
            </div>
	        </div>
	        <div class="form-group" data-ng-class="{'has-error':resourceForm.Current_CTC.$invalid && !resourceForm.Current_CTC.$pristine}">
	          <label for="Current_CTC" class="col-sm-4 control-label">Current CTC</label>
	          <div class="col-sm-8">
	            <input type="text" data-ng-model="resource.Current_CTC" class="form-control" name="Current_CTC" placeholder="Current CTC" required>
	            <sup class="text-danger mandatory">*</sup>
            </div>
	        </div>
	        <div class="form-group" data-ng-class="{'has-error':resourceForm.Expected_CTC.$invalid && !resourceForm.Expected_CTC.$pristine}">
	          <label for="Expected_CTC" class="col-sm-4 control-label">Expected CTC</label>
	          <div class="col-sm-8">
	            <input type="text" data-ng-model="resource.Expected_CTC" class="form-control" name="Expected_CTC" placeholder="Expected CTC" required>
	            <sup class="text-danger mandatory">*</sup>
            </div>
	        </div>
	        <div class="form-group" data-ng-class="{'has-error':resourceForm.Notice_Period.$invalid && !resourceForm.Notice_Period.$pristine}">
	          <label for="Notice_Period" class="col-sm-4 control-label">Notice Period</label>
	          <div class="col-sm-8">
	            <input type="text" data-ng-model="resource.Notice_Period" class="form-control" name="Notice_Period" placeholder="Notice Period" required>
	            <sup class="text-danger mandatory">*</sup>
            </div>
	        </div>
	        <div class="form-group" data-ng-class="{'has-error':resourceForm.Current_Company.$invalid && !resourceForm.Current_Company.$pristine}">
	          <label for="Current_Company" class="col-sm-4 control-label">Current Company</label>
	          <div class="col-sm-8">
	            <input type="text" data-ng-model="resource.Current_Company" class="form-control" name="Current_Company" placeholder="Current Company" required>
	            <sup class="text-danger mandatory">*</sup>
            </div>
	        </div>
	        <div class="form-group" data-ng-class="{'has-error':resourceForm.Type_of_Employment.$invalid && !resourceForm.Type_of_Employment.$pristine}">
	          <label for="Type_Of_Employment" class="col-sm-4 control-label">Type of Employment</label>
	          <div class="col-sm-8">
	            <input type="text" data-ng-model="resource.Type_of_Employment" class="form-control" name="Type_of_Employment" placeholder="Type of Employment" required>
	            <sup class="text-danger mandatory">*</sup>
            </div>
	        </div>
	        <div class="form-group" data-ng-class="{'has-error':resourceForm.Current_Location.$invalid && !resourceForm.Current_Location.$pristine}">
	          <label for="Current_Location" class="col-sm-4 control-label">Current Location</label>
	          <div class="col-sm-8">
	            <input type="text" data-ng-model="resource.Current_Location" class="form-control" name="Current_Location" placeholder="Current Location" required>
	            <sup class="text-danger mandatory">*</sup>
            </div>
	        </div>
	        <div class="form-group" data-ng-class="{'has-error':resourceForm.Preferred_Location.$invalid && !resourceForm.Preferred_Location.$pristine}">
	          <label for="Preferred_Location" class="col-sm-4 control-label">Prefered Location</label>
	          <div class="col-sm-8">
	            <input type="text" data-ng-model="resource.Preferred_Location" class="form-control" name="Preferred_Location" placeholder="Prefered Location" required>
	            <sup class="text-danger mandatory">*</sup>
            </div>
	        </div>
	        <div class="form-group" data-ng-class="{'has-error':resourceForm.Status.$invalid && !resourceForm.Status.$pristine}">
	          <label for="Status" class="col-sm-4 control-label">Status</label>
	          <div class="col-sm-8">
	            <input type="text" data-ng-model="resource.Status" class="form-control" name="Status" placeholder="Status" required>
	            <sup class="text-danger mandatory">*</sup>
            </div>
	        </div>
	        <div class="form-group">
	          <label for="Remarks" class="col-sm-4 control-label">Remarks</label>
	          <div class="col-sm-8">
	          	<textarea class="form-control" data-ng-model="resource.Remarks" rows="3" name="Remarks"></textarea>
	          </div>
	        </div>
	        <!-- Professional Details End -->
        </fieldset>
      </div>
    </section>
    <section class="row">
      <div class="col-md-offset-10 col-md-2">
        <div class="form-group">
          <div class="col-sm-12">
            <button type="submit" class="btn btn-success btn-lg" style="width: 100%" data-ng-disabled="resourceForm.$invalid">Submit</button>
          </div>
        </div>
      </div>
    </section>
  </form>
</section>
