<nav class="navbar navbar-default navbar-static-top naaima-nav">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="javascript:;">Naaima</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li data-ui-sref-active="active"><a data-ui-sref="addresource">Add Resource</a></li>
        <li data-ui-sref-active="active"><a data-ui-sref="resourcelist">Resource Details</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" ng-show="userDetails.Name">
        <li><a href="javascript:;">Hello {{userDetails.Name | uppercase}}</a></li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>
<div class="clearfix">

</div>
