<section class="main-container">
	<div class="container">
		<section class="col-md-4 col-md-offset-4 login-box">
			<div class="alert alert-error alert-warning"
				data-ng-class="{hide:userValid}">
				<button class="close" data-dismiss="alert"></button>
				<span>User Not Exists</span>
			</div>
			<form class="form-signin">
				<h2 class="form-signin-heading">Please sign in</h2>
				<label for="userName" class="sr-only">User Name</label>
				<input type="text" id="userName"  data-ng-model='user.userName' class="form-control" placeholder="User Name" required autofocus>
				<label for="password" class="sr-only">Password</label>
				<input type="password" id="password" data-ng-model='user.password' class="form-control" placeholder="Password" required>

				<div class="checkbox">
					<label> <input type="checkbox" value="remember-me">
						Remember me
					</label>
				</div>
				<button class="btn btn-lg btn-primary btn-block" type="submit" data-ng-click="login(user)">Sign in</button>
			</form>
		</section>
	</div>
</section>
