<section class="main-container bg-white-o">
	<div class="resources-list">
		<div class="table-responsive">
			<table class="table table-condensed table-hover table-striped">
				<thead>
					<tr>
						<th>Date</th>
						<th>Client</th>
						<th>Position Type</th>
						<th>Name</th>
						<th>Contact No</th>
						<th>Email ID</th>
						<th>Skill</th>
						<th>Total Exp</th>
						<th>Relevant Exp</th>
						<th>Current CTC</th>
						<th>Expected CTC</th>
						<th>Notice Period</th>
						<th>Current Company</th>
						<th>Current Location</th>
						<th>Preferred Location</th>
						<th>Status</th>
						<th>Remarks</th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat="resource in filteredresources">
						<td>{{resource.Date | date: format: shortDate}}</td>
						<td>{{resource.Client}}</td>
						<td>{{resource.Position_Type}}</td>
						<td>{{resource.Name}}</td>
						<td>{{resource.Contact_No}}</td>
						<td>{{resource.Email_ID}}</td>
						<td>{{resource.Skill}}</td>
						<td>{{resource.Total_Exp}}</td>
						<td>{{resource.Relevant_Exp}}</td>
						<td>{{resource.Current_CTC}}</td>
						<td>{{resource.Expected_CTC}}</td>
						<td>{{resource.Notice_Period}}</td>
						<td>{{resource.Current_Company}}</td>
						<td>{{resource.Current_Location}}</td>
						<td>{{resource.Preferred_Location}}</td>
						<td>{{resource.Status}}</td>
						<td>{{resource.Remarks}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<pagination total-items="totalItems" items-per-page="itemsPerPage"
         ng-model="currentPage" ng-change="pageChanged()"></pagination>
	</div>
</section>
